## Metrics for dataset evaluation

In [26]:
import sys
sys.path.append("/home/mihaelabaksic/proj/2023-languagelearning")
sys.path.append("/home/mihaelabaksic/proj/2023-languagelearning/src") 
sys.path.append("/home/mihaelabaksic/proj/2023-languagelearning/src/templates") 
sys.path.append("/home/mihaelabaksic/proj/2023-languagelearning/src/templates/alternatives") 


from single_run_thread import SingleRunThread
from prompt_builder import PromptBuilder
from utils import load_template, load_cefr
from parameters import GPTParameters
import keys

import openai

openai.api_key = keys.OPENAI_API_KEY

In [27]:
import pandas as pd
from sklearn import metrics

In [28]:
def load_scores(fname):
    scores = []
    with open(fname) as f:
        lines = f.readlines()
        for l in lines:
            l.strip('[]')
            tmp = l.split(',')
            scores_i = [ int(s.strip())  for s in tmp]
            scores.append(scores_i)
            
    return scores

In [29]:
def calcualate_metrics(scores):
    average_score_per_dialogue = [sum(s)/len(s) for s in scores]
    total_average_score = sum(average_score_per_dialogue)/len(average_score_per_dialogue) 
    return average_score_per_dialogue, total_average_score

In [30]:
role_fitness_scores = pd.DataFrame()

total_scores = pd.DataFrame()

## Role fitness

Scores for role fitness are given on a scale from 1 to 5

In [31]:
identity_pipeline_scores = load_scores('../../../plays/gpt-4/evaluation/role_fitness/identity.out')
identity_pipeline_scores

avg_dialogue_scores, total_avg = calcualate_metrics(identity_pipeline_scores)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )

print()
print('Total average score: ', total_avg)

role_fitness_scores['identity'] = avg_dialogue_scores
total_scores['identity'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  3.1666666666666665
Dialogue  1 :  2.1666666666666665
Dialogue  2 :  2.1666666666666665
Dialogue  3 :  4.0
Dialogue  4 :  3.3333333333333335
Dialogue  5 :  3.8333333333333335
Dialogue  6 :  4.166666666666667
Dialogue  7 :  4.166666666666667
Dialogue  8 :  4.0
Dialogue  9 :  4.833333333333333
Dialogue  10 :  4.5
Dialogue  11 :  4.166666666666667
Dialogue  12 :  4.166666666666667
Dialogue  13 :  4.666666666666667
Dialogue  14 :  4.5
Dialogue  15 :  4.666666666666667
Dialogue  16 :  4.833333333333333
Dialogue  17 :  5.0

Total average score:  4.018518518518518

In [32]:
role_fitness_0_scores = load_scores('../../../plays/gpt-4/evaluation/role_fitness/rf_0.out')

avg_dialogue_scores, total_avg = calcualate_metrics(role_fitness_0_scores)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )

print()
print('Total average score: ', total_avg)


role_fitness_scores['rf_0'] = avg_dialogue_scores
total_scores['rf_0'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  4.0
Dialogue  1 :  3.8333333333333335
Dialogue  2 :  4.0
Dialogue  3 :  3.3333333333333335
Dialogue  4 :  4.0
Dialogue  5 :  4.0
Dialogue  6 :  3.8333333333333335
Dialogue  7 :  4.0
Dialogue  8 :  4.0
Dialogue  9 :  4.5
Dialogue  10 :  5.0
Dialogue  11 :  4.333333333333333
Dialogue  12 :  3.6666666666666665
Dialogue  13 :  4.166666666666667
Dialogue  14 :  4.666666666666667
Dialogue  15 :  4.166666666666667
Dialogue  16 :  4.5
Dialogue  17 :  4.5

Total average score:  4.138888888888889

In [33]:
role_fitness_1_scores = load_scores('../../../plays/gpt-4/evaluation/role_fitness/rf_1.out')

avg_dialogue_scores, total_avg = calcualate_metrics(role_fitness_1_scores)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )

print()
print('Total average score: ', total_avg)


role_fitness_scores['rf_1'] = avg_dialogue_scores
total_scores['rf_1'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  3.6666666666666665
Dialogue  1 :  3.8333333333333335
Dialogue  2 :  3.8333333333333335
Dialogue  3 :  3.5
Dialogue  4 :  4.0
Dialogue  5 :  4.0
Dialogue  6 :  4.0
Dialogue  7 :  4.166666666666667
Dialogue  8 :  4.0
Dialogue  9 :  4.166666666666667
Dialogue  10 :  4.5
Dialogue  11 :  4.833333333333333
Dialogue  12 :  4.833333333333333
Dialogue  13 :  4.166666666666667
Dialogue  14 :  4.333333333333333
Dialogue  15 :  4.333333333333333
Dialogue  16 :  4.166666666666667
Dialogue  17 :  4.833333333333333

Total average score:  4.1759259259259265

In [34]:
role_fitness_2_scores = load_scores('../../../plays/gpt-4/evaluation/role_fitness/rf_2.out')

avg_dialogue_scores, total_avg = calcualate_metrics(role_fitness_2_scores)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )

print()
print('Total average score: ', total_avg)


role_fitness_scores['rf_2'] = avg_dialogue_scores
total_scores['rf_2'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  3.8333333333333335
Dialogue  1 :  4.0
Dialogue  2 :  4.0
Dialogue  3 :  3.8333333333333335
Dialogue  4 :  4.0
Dialogue  5 :  2.8333333333333335
Dialogue  6 :  4.5
Dialogue  7 :  4.333333333333333
Dialogue  8 :  4.0
Dialogue  9 :  4.166666666666667
Dialogue  10 :  4.333333333333333
Dialogue  11 :  4.5
Dialogue  12 :  4.666666666666667
Dialogue  13 :  4.166666666666667
Dialogue  14 :  4.833333333333333
Dialogue  15 :  4.666666666666667
Dialogue  16 :  3.8333333333333335
Dialogue  17 :  4.666666666666667

Total average score:  4.175925925925926

In [35]:
role_fitness_3_scores = load_scores('../../../plays/gpt-4/evaluation/role_fitness/rf_3.out')

avg_dialogue_scores, total_avg = calcualate_metrics(role_fitness_3_scores)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )

print()
print('Total average score: ', total_avg)


role_fitness_scores['rf_3'] = avg_dialogue_scores
total_scores['rf_3'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  3.5
Dialogue  1 :  4.0
Dialogue  2 :  4.0
Dialogue  3 :  4.0
Dialogue  4 :  4.833333333333333
Dialogue  5 :  3.6666666666666665
Dialogue  6 :  4.166666666666667
Dialogue  7 :  4.166666666666667
Dialogue  8 :  4.5
Dialogue  9 :  4.333333333333333
Dialogue  10 :  5.0
Dialogue  11 :  4.666666666666667
Dialogue  12 :  4.833333333333333
Dialogue  13 :  5.0
Dialogue  14 :  4.833333333333333
Dialogue  15 :  4.833333333333333
Dialogue  16 :  4.833333333333333
Dialogue  17 :  4.833333333333333

Total average score:  4.444444444444444

In [36]:
ll_rf_0 = load_scores('../../../plays/gpt-4/evaluation/role_fitness/ll_rf_0.out')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_rf_0)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )


print()
print('Total average score: ', total_avg)

role_fitness_scores['ll_rf_0'] = avg_dialogue_scores
total_scores['ll_rf_0'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  2.3333333333333335
Dialogue  1 :  2.8333333333333335
Dialogue  2 :  2.5
Dialogue  3 :  3.8333333333333335
Dialogue  4 :  3.6666666666666665
Dialogue  5 :  3.3333333333333335
Dialogue  6 :  3.6666666666666665
Dialogue  7 :  4.166666666666667
Dialogue  8 :  4.166666666666667
Dialogue  9 :  4.833333333333333
Dialogue  10 :  4.666666666666667
Dialogue  11 :  4.833333333333333
Dialogue  12 :  5.0
Dialogue  13 :  4.5
Dialogue  14 :  4.666666666666667
Dialogue  15 :  4.333333333333333
Dialogue  16 :  3.8333333333333335
Dialogue  17 :  4.5

Total average score:  3.981481481481482

In [37]:
ll_rf_1 = load_scores('../../../plays/gpt-4/evaluation/role_fitness/ll_rf_1.out')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_rf_1)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )


print()
print('Total average score: ', total_avg)

role_fitness_scores['ll_rf_1'] = avg_dialogue_scores
total_scores['ll_rf_1'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  2.0
Dialogue  1 :  1.8333333333333333
Dialogue  2 :  2.3333333333333335
Dialogue  3 :  2.6666666666666665
Dialogue  4 :  3.8333333333333335
Dialogue  5 :  3.8333333333333335
Dialogue  6 :  4.0
Dialogue  7 :  3.1666666666666665
Dialogue  8 :  3.8333333333333335
Dialogue  9 :  4.666666666666667
Dialogue  10 :  4.833333333333333
Dialogue  11 :  4.0
Dialogue  12 :  4.0
Dialogue  13 :  4.666666666666667
Dialogue  14 :  5.0
Dialogue  15 :  4.833333333333333
Dialogue  16 :  4.833333333333333
Dialogue  17 :  4.0

Total average score:  3.796296296296296

In [38]:
ll_rf_2 = load_scores('../../../plays/gpt-4/evaluation/role_fitness/ll_rf_2.out')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_rf_2)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )

print()
print('Total average score: ', total_avg)

role_fitness_scores['ll_rf_2'] = avg_dialogue_scores
total_scores['ll_rf_2'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  3.1666666666666665
Dialogue  1 :  2.3333333333333335
Dialogue  2 :  3.0
Dialogue  3 :  2.6666666666666665
Dialogue  4 :  3.5
Dialogue  5 :  3.3333333333333335
Dialogue  6 :  3.5
Dialogue  7 :  4.0
Dialogue  8 :  3.8333333333333335
Dialogue  9 :  4.166666666666667
Dialogue  10 :  4.333333333333333
Dialogue  11 :  4.666666666666667
Dialogue  12 :  4.833333333333333
Dialogue  13 :  4.833333333333333
Dialogue  14 :  4.666666666666667
Dialogue  15 :  4.5
Dialogue  16 :  4.666666666666667
Dialogue  17 :  4.666666666666667

Total average score:  3.925925925925926

In [39]:
role_fitness_scores

,identity,rf_0,rf_1,rf_2,rf_3,ll_rf_0,ll_rf_1,ll_rf_2
0,3.166667,4.000000,3.666667,3.833333,3.500000,2.333333,2.000000,3.166667
1,2.166667,3.833333,3.833333,4.000000,4.000000,2.833333,1.833333,2.333333
2,2.166667,4.000000,3.833333,4.000000,4.000000,2.500000,2.333333,3.000000
3,4.000000,3.333333,3.500000,3.833333,4.000000,3.833333,2.666667,2.666667
4,3.333333,4.000000,4.000000,4.000000,4.833333,3.666667,3.833333,3.500000
5,3.833333,4.000000,4.000000,2.833333,3.666667,3.333333,3.833333,3.333333
6,4.166667,3.833333,4.000000,4.500000,4.166667,3.666667,4.000000,3.500000
7,4.166667,4.000000,4.166667,4.333333,4.166667,4.166667,3.166667,4.000000
8,4.000000,4.000000,4.000000,4.000000,4.500000,4.166667,3.833333,3.833333
9,4.833333,4.500000,4.166667,4.166667,4.333333,4.833333,4.666667,4.166667
10,4.500000,5.000000,4.500000,4.333333,5.000000,4.666667,4.833333,4.333333
11,4.166667,4.333333,4.833333,4.500000,4.666667,4.833333,4.000000,4.666667
12,4.166667,3.666667,4.833333,4.666667,4.833333,5.000000,4.000000,4.833333
13,4.666667,4.166667,4.166667,4.166667,5.000000,4.500000,4.666667,4.833333
14,4.500000,4.666667,4.333333,4.833333,4.833333,4.666667,5.000000,4.666667
15,4.666667,4.166667,4.333333,4.666667,4.833333,4.333333,4.833333,4.500000
16,4.833333,4.500000,4.166667,3.833333,4.833333,3.833333,4.833333,4.666667
17,5.000000,4.500000,4.833333,4.666667,4.833333,4.500000,4.000000,4.666667

In [40]:
total_scores

,identity,rf_0,rf_1,rf_2,rf_3,ll_rf_0,ll_rf_1,ll_rf_2
0,4.018519,4.138889,4.175926,4.175926,4.444444,3.981481,3.796296,3.925926

## Language level 

Scores for language level are given on a scale from 1 to 3

In [41]:
language_level_scores = pd.DataFrame()
language_level_total_scores = pd.DataFrame()
language_level_level_scores = pd.DataFrame()

In [42]:
language_level_level_scores['level'] = ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']

In [43]:
identity_pipeline_scores_ll = load_scores('../../../plays/gpt-4/evaluation/language_level/identity.out')

avg_dialogue_scores, total_avg = calcualate_metrics(identity_pipeline_scores_ll)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['identity'] = avg_dialogue_scores
language_level_total_scores['identity'] = [total_avg, ]
language_level_level_scores['identity'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  3.0
Dialogue  1 :  3.0
Dialogue  2 :  3.0
Dialogue  3 :  3.0
Dialogue  4 :  3.0
Dialogue  5 :  3.0
Dialogue  6 :  3.0
Dialogue  7 :  3.0
Dialogue  8 :  2.8333333333333335
Dialogue  9 :  3.0
Dialogue  10 :  3.0
Dialogue  11 :  3.0
Dialogue  12 :  3.0
Dialogue  13 :  3.0
Dialogue  14 :  3.0
Dialogue  15 :  3.0
Dialogue  16 :  3.0
Dialogue  17 :  3.0

Average score per language level
Level  A1 :  3.0
Level  A2 :  3.0
Level  B1 :  2.9444444444444446
Level  B2 :  3.0
Level  C1 :  3.0
Level  C2 :  3.0

Total average score:  2.9907407407407405

In [44]:
ll_0_scores = load_scores('../../../plays/gpt-4/evaluation/language_level/ll_0.out')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_0_scores)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['ll_0'] = avg_dialogue_scores
language_level_total_scores['ll_0'] = [total_avg, ]
language_level_level_scores['ll_0'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  3.0
Dialogue  1 :  3.0
Dialogue  2 :  3.0
Dialogue  3 :  3.0
Dialogue  4 :  3.0
Dialogue  5 :  3.0
Dialogue  6 :  3.0
Dialogue  7 :  3.0
Dialogue  8 :  3.0
Dialogue  9 :  3.0
Dialogue  10 :  3.0
Dialogue  11 :  3.0
Dialogue  12 :  3.0
Dialogue  13 :  3.0
Dialogue  14 :  3.0
Dialogue  15 :  3.0
Dialogue  16 :  2.8333333333333335
Dialogue  17 :  3.0

Average score per language level
Level  A1 :  3.0
Level  A2 :  3.0
Level  B1 :  3.0
Level  B2 :  3.0
Level  C1 :  3.0
Level  C2 :  2.9444444444444446

Total average score:  2.990740740740741

In [45]:
ll_1_scores = load_scores('../../../plays/gpt-4/evaluation/language_level/ll_1.out')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_1_scores)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['ll_1'] = avg_dialogue_scores
language_level_total_scores['ll_1'] = [total_avg, ]
language_level_level_scores['ll_1'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  3.0
Dialogue  1 :  3.0
Dialogue  2 :  3.0
Dialogue  3 :  3.0
Dialogue  4 :  3.0
Dialogue  5 :  3.0
Dialogue  6 :  3.0
Dialogue  7 :  3.0
Dialogue  8 :  3.0
Dialogue  9 :  3.0
Dialogue  10 :  3.0
Dialogue  11 :  3.0
Dialogue  12 :  3.0
Dialogue  13 :  3.0
Dialogue  14 :  3.0
Dialogue  15 :  3.0
Dialogue  16 :  3.0
Dialogue  17 :  3.0

Average score per language level
Level  A1 :  3.0
Level  A2 :  3.0
Level  B1 :  3.0
Level  B2 :  3.0
Level  C1 :  3.0
Level  C2 :  3.0

Total average score:  3.0

In [46]:
ll_2_scores = load_scores('../../../plays/gpt-4/evaluation/language_level/ll_2.out')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_2_scores)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['ll_2'] = avg_dialogue_scores
language_level_total_scores['ll_2'] = [total_avg, ]
language_level_level_scores['ll_2'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  3.0
Dialogue  1 :  3.0
Dialogue  2 :  3.0
Dialogue  3 :  3.0
Dialogue  4 :  3.0
Dialogue  5 :  3.0
Dialogue  6 :  3.0
Dialogue  7 :  3.0
Dialogue  8 :  3.0
Dialogue  9 :  3.0
Dialogue  10 :  3.0
Dialogue  11 :  3.0
Dialogue  12 :  3.0
Dialogue  13 :  3.0
Dialogue  14 :  3.0
Dialogue  15 :  2.8333333333333335
Dialogue  16 :  3.0
Dialogue  17 :  3.0

Average score per language level
Level  A1 :  3.0
Level  A2 :  3.0
Level  B1 :  3.0
Level  B2 :  3.0
Level  C1 :  3.0
Level  C2 :  2.9444444444444446

Total average score:  2.990740740740741

In [47]:
ll_rf_0 = load_scores('../../../plays/gpt-4/evaluation/language_level/ll_rf_0.out')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_rf_0)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['ll_rf_0'] = avg_dialogue_scores
language_level_total_scores['ll_rf_0'] = [total_avg, ]
language_level_level_scores['ll_rf_0'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  3.0
Dialogue  1 :  3.0
Dialogue  2 :  3.0
Dialogue  3 :  3.0
Dialogue  4 :  3.0
Dialogue  5 :  2.3333333333333335
Dialogue  6 :  2.8333333333333335
Dialogue  7 :  3.0
Dialogue  8 :  2.8333333333333335
Dialogue  9 :  3.0
Dialogue  10 :  3.0
Dialogue  11 :  3.0
Dialogue  12 :  3.0
Dialogue  13 :  2.8333333333333335
Dialogue  14 :  3.0
Dialogue  15 :  3.0
Dialogue  16 :  2.8333333333333335
Dialogue  17 :  3.0

Average score per language level
Level  A1 :  3.0
Level  A2 :  2.777777777777778
Level  B1 :  2.8888888888888893
Level  B2 :  3.0
Level  C1 :  2.9444444444444446
Level  C2 :  2.9444444444444446

Total average score:  2.925925925925926

In [48]:
ll_rf_1 = load_scores('../../../plays/gpt-4/evaluation/language_level/ll_rf_1.out')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_rf_1)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['ll_rf_1'] = avg_dialogue_scores
language_level_total_scores['ll_rf_1'] = [total_avg, ]
language_level_level_scores['ll_rf_1'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  3.0
Dialogue  1 :  2.8333333333333335
Dialogue  2 :  3.0
Dialogue  3 :  3.0
Dialogue  4 :  3.0
Dialogue  5 :  3.0
Dialogue  6 :  3.0
Dialogue  7 :  3.0
Dialogue  8 :  3.0
Dialogue  9 :  3.0
Dialogue  10 :  3.0
Dialogue  11 :  3.0
Dialogue  12 :  3.0
Dialogue  13 :  3.0
Dialogue  14 :  3.0
Dialogue  15 :  3.0
Dialogue  16 :  2.5
Dialogue  17 :  3.0

Average score per language level
Level  A1 :  2.9444444444444446
Level  A2 :  3.0
Level  B1 :  3.0
Level  B2 :  3.0
Level  C1 :  3.0
Level  C2 :  2.8333333333333335

Total average score:  2.9629629629629632

In [49]:
ll_rf_2 = load_scores('../../../plays/gpt-4/evaluation/language_level/ll_rf_2.out')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_rf_2)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['ll_rf_2'] = avg_dialogue_scores
language_level_total_scores['ll_rf_2'] = [total_avg, ]
language_level_level_scores['ll_rf_2'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  3.0
Dialogue  1 :  2.8333333333333335
Dialogue  2 :  3.0
Dialogue  3 :  3.0
Dialogue  4 :  3.0
Dialogue  5 :  3.0
Dialogue  6 :  3.0
Dialogue  7 :  3.0
Dialogue  8 :  3.0
Dialogue  9 :  3.0
Dialogue  10 :  3.0
Dialogue  11 :  2.5
Dialogue  12 :  2.8333333333333335
Dialogue  13 :  3.0
Dialogue  14 :  3.0
Dialogue  15 :  2.8333333333333335
Dialogue  16 :  2.8333333333333335
Dialogue  17 :  3.0

Average score per language level
Level  A1 :  2.9444444444444446
Level  A2 :  3.0
Level  B1 :  3.0
Level  B2 :  2.8333333333333335
Level  C1 :  2.9444444444444446
Level  C2 :  2.8888888888888893

Total average score:  2.9351851851851856

In [50]:
language_level_total_scores

   identity      ll_0  ll_1      ll_2   ll_rf_0   ll_rf_1   ll_rf_2
0  2.990741  2.990741   3.0  2.990741  2.925926  2.962963  2.935185

In [51]:
language_level_scores

    identity      ll_0  ll_1      ll_2   ll_rf_0   ll_rf_1   ll_rf_2
0   3.000000  3.000000   3.0  3.000000  3.000000  3.000000  3.000000
1   3.000000  3.000000   3.0  3.000000  3.000000  2.833333  2.833333
2   3.000000  3.000000   3.0  3.000000  3.000000  3.000000  3.000000
3   3.000000  3.000000   3.0  3.000000  3.000000  3.000000  3.000000
4   3.000000  3.000000   3.0  3.000000  3.000000  3.000000  3.000000
5   3.000000  3.000000   3.0  3.000000  2.333333  3.000000  3.000000
6   3.000000  3.000000   3.0  3.000000  2.833333  3.000000  3.000000
7   3.000000  3.000000   3.0  3.000000  3.000000  3.000000  3.000000
8   2.833333  3.000000   3.0  3.000000  2.833333  3.000000  3.000000
9   3.000000  3.000000   3.0  3.000000  3.000000  3.000000  3.000000
10  3.000000  3.000000   3.0  3.000000  3.000000  3.000000  3.000000
11  3.000000  3.000000   3.0  3.000000  3.000000  3.000000  2.500000
12  3.000000  3.000000   3.0  3.000000  3.000000  3.000000  2.833333
13  3.000000  3.000000   3.0  3.000000  2.833333  3.000000  3.000000
14  3.000000  3.000000   3.0  3.000000  3.000000  3.000000  3.000000
15  3.000000  3.000000   3.0  2.833333  3.000000  3.000000  2.833333
16  3.000000  2.833333   3.0  3.000000  2.833333  2.500000  2.833333
17  3.000000  3.000000   3.0  3.000000  3.000000  3.000000  3.000000

In [52]:
language_level_level_scores

  level  identity      ll_0  ll_1      ll_2   ll_rf_0   ll_rf_1   ll_rf_2
0    A1  3.000000  3.000000   3.0  3.000000  3.000000  2.944444  2.944444
1    A2  3.000000  3.000000   3.0  3.000000  2.777778  3.000000  3.000000
2    B1  2.944444  3.000000   3.0  3.000000  2.888889  3.000000  3.000000
3    B2  3.000000  3.000000   3.0  3.000000  3.000000  3.000000  2.833333
4    C1  3.000000  3.000000   3.0  3.000000  2.944444  3.000000  2.944444
5    C2  3.000000  2.944444   3.0  2.944444  2.944444  2.833333  2.888889